<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV to XLSX Converter</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js" defer></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <div class="max-w-md mx-auto bg-white p-5 rounded-md shadow-sm relative">
            <h1 class="text-2xl font-bold mb-5">CSV to XLSX Converter</h1>
            <form id="uploadForm" class="space-y-4 relative">
                <div id="delimiterField" class="relative">
                    <label for="delimiter" class="block text-sm font-medium text-gray-700 inline-flex items-center">
                        Delimiter
                        <div class="tooltip-container inline-block ml-2">
                            <span class="text-black cursor-pointer">&#9432;</span>
                            <div class="tooltip-content hidden absolute bg-gray-200 text-gray-700 text-xs rounded py-1 px-2 mt-1 shadow-lg">
                                Enter the delimiter used in your CSV file, e.g., comma (,), semicolon (;), pipe (|).
                            </div>
                        </div>
                    </label>
                    <input type="text" name="delimiter" id="delimiter" required class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
                <div id="fileField">
                    <label for="file" class="block text-sm font-medium text-gray-700">Upload CSV file</label>
                    <input type="file" name="file" id="file" required accept=".csv" class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
                <div id="convertButton">
                    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md">Convert</button>
                </div>
                <img src="/static/spinner.gif" alt="Loading..." class="spinner" id="spinner">
            </form>
            <div id="message" class="mt-4 text-center"></div>
            <div id="downloadLink" class="mt-4 text-center"></div>
            <div id="tryAgainButton" class="mt-4 text-center" style="display: none;">
                <button onclick="resetForm()" class="bg-blue-500 text-white p-2 rounded-md">Try Again</button>
            </div>
        </div>
    </div>
</body>
</html>
